{% extends 'base.html.twig' %}

{% block title %}Login!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row d-grid w-50 mx-auto">
            <div class="col">
                <form class="form-floating" method="post">
                    {% if error %}
                    <div class="alert alert-danger m-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
            
                    <h1 class="h3 m-3 text-center font-weight-normal">Please sign in</h1>
                    <div class="form-floating mb-3">
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="name@example.com"
                            class="form-control" autocomplete="email" autofocus>
                        <label for="inputEmail" class="form-label">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="password" id="inputPassword" placeholder="mot de passe" class="form-control"
                            autocomplete="current-password">
                        <label for="inputPassword" class="form-label">Password</label>
                    </div>
            
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            
                    <div class="d-grid gap-1">
                        <button class="btn btn-lg btn-primary" type="submit">
                            Sign in
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
