{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container py-3">
        <div class="text-center">
            <h1>Titre de votre contenu</h1>
            <p>Un paragraphe de texte descriptif.</p>
        </div>
    </div>
{% endblock %}
